.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0.5s, visibility 0.5s;
    visibility: hidden;
    opacity: 0;
    overflow: auto;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 5vh auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    min-width: 700px;
    width: 50vw;
    max-width: 1200px;
    position: relative;
}

.popup h2 {
    margin-top: 0;
}

.contentBody > div {
    display: flex;
}

.contentBody > .bodyActions {
    margin-top: 10px;
}

#saveButtonPOPUP,
#cancelButtonPOPUP,
#deleteButtonPOPUP {
    text-decoration: none;
}

#cancelButtonPOPUP {
    margin: 0 auto 0 20px;
}

#saveButtonPOPUP {
    margin: 0 20px 0 auto;
}
