<div class="auth-wrapper" (keydown.enter)="prepareLogin()">
    <div class="flex-item" id="top-text"> <span>Anmeldung</span> </div>

    <div class="flex-item"> <label for="userName">Benutzername</label> </div>
    <div class="flex-item"> <input type="text" id="userName" [(ngModel)]="loginData.userName"> </div>

    <div class="flex-item"> <label for="passWord">Passwort</label> </div>
    <div class="flex-item"> <input type="password" id="passWord" [(ngModel)]="loginData.passWord"> </div>

    <div class="flex-itemHalf actionButtons"> <button class="cancelButton" (click)="prepareLogin(true)" *ngIf="!!configService.config.enableGuestLogin">Gast
            Anmeldung</button> </div>
    <div class="flex-itemHalf actionButtons"> <button class="saveButton" (click)="prepareLogin()">Anmelden</button>
    </div>
</div>