<div class="background">
    <div class="login-wrapper">
        <div class="flex-item" id="top-text"> <span>Login</span> </div>

        <div class="flex-item"> <label for="userName">Benutzername</label> </div>
        <div class="flex-item"> <input type="text" id="userName" [(ngModel)]="userData.userName"> </div>

        <div class="flex-item"> <label for="passWord">Passwort</label> </div>
        <div class="flex-item"> <input type="password" id="passWord" [(ngModel)]="userData.passWord"> </div>

        <div class="flex-item"> <button class="buttonPrimary" (click)="prepareLogin()">Anmelden</button> </div>
        <div class="flex-item"> <button class="buttonInfo" (click)="prepareLogin(true)">Als Gast Anmelden</button>
        </div>
    </div>
</div>