<div class="contentWrapper">
    <div class="filterWrapper">
        <input type="text" class="input filterInput" placeholder="Filter" [(ngModel)]="filterValue"
            (keyup)="prepareFilter($event)">
        <a class="createNewButton button" href="/locations#createNewLocation">Standort hinzufügen</a>
    </div>

    <ng-container *ngIf="mutableFilteredLocationList.length == 0">
        <div class="body">
            Es wurden keine Standorte gefunden!
        </div>
    </ng-container>

    <ng-container *ngIf="mutableFilteredLocationList.length != 0">
        <div class="scrollWrapper">
            <ng-container *ngFor="let location of mutableFilteredLocationList; let i = index">
                <div class="collapsibleWrapper">
                    <input [attr.id]="'collapsibleCheckbox_' + i" class="collapsibleToggle" type="checkbox">
                    <label [attr.for]="'collapsibleCheckbox_' + i" class="collapsibleLabel">{{ location.Label + ' (ID: ' +
                        location.ID + ')' }}</label>
                    <div class="collapsibleContent">
                        <div class="contentBody">
                            <div class="body-id">
                                <label [attr.for]="'ID' + i" class="bodyInputLabel">ID</label>
                                <input type="text" [attr.id]="'ID' + i" class="input" [ngModel]="location.ID" disabled>
                            </div>

                            <div>
                                <label [attr.for]="'label' + i" class="bodyInputLabel">Name</label>
                                <input type="text" [attr.id]="'label' + i" class="input" [(ngModel)]="location.Label">
                            </div>

                            <div>
                                <label [attr.for]="'descriptiveInformation' + i"
                                    class="bodyInputLabel">Informationen</label>
                                <input type="text" [attr.id]="'descriptiveInformation' + i" class="input"
                                    [(ngModel)]="location.DescriptiveInformation">
                            </div>

                            <div>
                                <h3>Adresse</h3>
                            </div>

                            <div>
                                <label [attr.for]="'postalcode' + i" class="bodyInputLabel">PLZ</label>
                                <input type="text" [attr.id]="'postalcode' + i" class="input"
                                    [(ngModel)]="location.Postalcode">
                            </div>

                            <div>
                                <label [attr.for]="'city' + i" class="bodyInputLabel">Stadt</label>
                                <input type="text" [attr.id]="'city' + i" class="input" [(ngModel)]="location.City">
                            </div>

                            <div>
                                <label [attr.for]="'street' + i" class="bodyInputLabel">Straße</label>
                                <input type="text" [attr.id]="'street' + i" class="input" [(ngModel)]="location.Street">
                            </div>

                            <div class="bodyActions">
                                <button class="cancelButton" id="cancelButton" (click)="cancel(i)">Abbrechen</button>
                                <button class="deleteButton" id="deleteButton"
                                    (click)="deleteLocation(location.ID)">Löschen</button>
                                <button class="saveButton" id="saveButton"
                                    (click)="updateLocation(location.ID)">Speichern</button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </ng-container>
</div>


<div id="createNewLocation" class="overlay">
    <div class="popup">
        <h2>Neuen Standort erstellen</h2>
        <div class="content">
            <div class="contentBody">
                <div>
                    <label for="label" class="bodyInputLabel">Label</label>
                    <input type="text" id="label" class="input" [(ngModel)]="newLocation.Label">
                </div>

                <div>
                    <label for="descriptiveInformation" class="bodyInputLabel">Informationen</label>
                    <input type="text" id="descriptiveInformation" class="input"
                        [(ngModel)]="newLocation.DescriptiveInformation">
                </div>

                <div>
                    <h3>Adresse</h3>
                </div>

                <div>
                    <label for="postalcode" class="bodyInputLabel">PLZ</label>
                    <input type="text" id="postalcode" class="input" [(ngModel)]="newLocation.Postalcode">
                </div>

                <div>
                    <label for="city" class="bodyInputLabel">Stadt</label>
                    <input type="text" id="city" class="input" [(ngModel)]="newLocation.City">
                </div>

                <div>
                    <label for="street" class="bodyInputLabel">Straße</label>
                    <input type="text" id="street" class="input" [(ngModel)]="newLocation.Street">
                </div>

                <div class="bodyActions">
                    <a class="cancelButton button" id="cancelButtonPOPUP" href="/locations#">Abbrechen</a>
                    <a class="saveButton button" id="saveButtonPOPUP" href="/locations#"
                        (click)="createLocation(newLocation)">Speichern</a>
                </div>
            </div>
        </div>
    </div>
</div>