@import "../../../styles.scss";

.filterWrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.filterInput {
    outline: none;
    background-color: $primary-200;
    height: 50px;
    width: 70%;
    margin: 5px;
    padding: 0 15px;
    border: 2px solid $primary-500;
    border-radius: 35px;
    font-size: 24px;
    box-shadow: 0 0 10px $primary-600 inset;
}

.filterInput:focus {
    box-shadow: 0 0 10px $primary-700 inset;
}

.filterButton {
    border: 2px solid $primary-500;
    border-radius: 35px;
    background-color: $primary-200;
    box-shadow: 0 0 10px $primary-600 inset;
    height: 50px;
    margin: 5px;
    padding: 0 15px;
    font-size: 24px;
}

.filterButton:focus {
    box-shadow: 0 0 10px $primary-700 inset;
    outline: none;
}

input[type="checkbox"] {
    display: none;
}
.collapsibleWrapper {
    margin: 1.2rem 0;
}
.collapsibleLabel {
    display: block;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    color: #ddd;
    background: #0069ff;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.25s ease-out;
}
.collapsibleLabel:hover {
    color: #fff;
}
.collapsibleLabel::before {
    content: " ";
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: 0.7rem;
    transform: translateY(-2px);
    transition: transform 0.2s ease-out;
}
.collapsibleToggle:checked + .collapsibleLabel::before {
    transform: rotate(90deg) translateX(-3px);
}

.collapsibleToggle:checked + .collapsibleLabel + .collapsibleContent {
    max-height: 350px;
}
.collapsibleToggle:checked + .collapsibleLabel {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.contentTitle {
    font-size: 18pt;
    border-bottom: 1px solid black;
    padding: 10px 0;
    margin: 5px 10%;
    text-align: center;
}

.contentBody {
    background: rgba(0, 105, 255, 0.2);
    border-bottom: 1px solid rgba(0, 105, 255, 0.45);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 0.5rem 1rem;
}

.collapsibleContent {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.25s ease-in-out;
}
