@import "../../../styles.scss";

.filterWrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.filterInput {
    outline: none;
    margin: 5px;
    height: 50px;
    width: 70%;
    font-size: 16pt;
}

.filterButton {
    margin: 5px;
    height: 54px;
    font-size: 16pt;
}

.createDeviceButton {
    margin: 5px;
    height: 54px;
    font-size: 16pt;
    text-decoration: none;
    line-height: 54px;
    color: black;
}

.actionCancel {
    margin: 5px;
    padding: 0 15px;
    height: 50px;
    font-size: 24px;
    text-decoration: none;
    line-height: 50px;
    color: black;
}

.actionSave {
    margin: 5px;
    padding: 0 15px;
    height: 50px;
    font-size: 24px;
    text-decoration: none;
    line-height: 50px;
    color: black;
}

.scrollWrapper {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 80vh;
    padding-right: 15px;
}

.scrollWrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px $info-500;
    border-radius: 10px;
    background-color: $info-300;
}

.scrollWrapper::-webkit-scrollbar {
    width: 12px;
    background-color: $warning-500;
}

.scrollWrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px $info-700;
    background-color: $info-400;
}

.collapsibleToggle {
    display: none;
}

.collapsibleWrapper {
    margin: 1.2rem 0;
}

.collapsibleLabel {
    padding: 1rem;
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 7px;
    background-color: $info-700;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    // text-transform: uppercase;
    text-align: center;
    color: #ddd;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all 0.25s ease-out;
}

.collapsibleLabel:hover {
    color: #fff;
}

.collapsibleLabel::before {
    content: " ";
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: 0.7rem;
    transform: translateY(-2px);
    transition: transform 0.2s ease-out;
}

.collapsibleToggle:checked + .collapsibleLabel::before {
    transform: rotate(90deg) translateX(-3px);
}

.collapsibleToggle:checked + .collapsibleLabel + .collapsibleContent {
    min-height: 620px;
}

.collapsibleToggle:checked + .collapsibleLabel {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.collapsibleContent {
    max-height: 0px;
    overflow: auto;
    transition: max-height 0.25s ease-in-out;

    background-color: $info-100;
    border-bottom: 1px solid $info-400;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.contentTitle {
    font-size: 18pt;
    border-bottom: 1px solid black;
    padding: 10px 0;
    margin: 5px 10%;
    text-align: center;
}

.contentBody {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
}

.contentBody div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.contentBody div label {
    margin: 5px;
    padding: 0 5px;
    height: 40px;
    width: 230px;
    font-size: 15pt;
    line-height: 40px;
}

.contentBody div input {
    outline: none;
    margin: 5px;
    height: 40px;
    width: calc(100% - 230px);
}

.bodyActions button {
    margin: 5px;
    padding: 0 15px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
}

.bodyActions button:focus {
    outline: none;
}

//

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 50%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06d85f;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}

#popUpSave {
    height: 54px;
}