<div class="contentWrapper">
    <div class="filterWrapper">
        <input type="text" class="input filterInput" placeholder="Filter" [(ngModel)]="filterValue"
            (keyup)="prepareFilter($event)">
        <a class="createNewButton button" href="/devices#createNewDevice"
            *ngIf="!authService.asGuest || !!authService.asGuest && !!configService.config.enableGuestDataManipulation">Neues
            Gerät</a>
    </div>

    <ng-container *ngIf="mutableFilteredDeviceList.length == 0">
        <div class="body">
            Es wurden keine Geräte gefunden!
        </div>
    </ng-container>

    <ng-container *ngIf="mutableFilteredDeviceList.length != 0">
        <div class="scrollWrapper">
            <ng-container *ngFor="let device of mutableFilteredDeviceList; let i = index">
                <div class="collapsibleWrapper">
                    <input [attr.id]="'collapsibleCheckbox_' + i" class="collapsibleToggle" type="checkbox">
                    <label [attr.for]="'collapsibleCheckbox_' + i" class="collapsibleLabel">{{ device.Label + ' (ID: ' +
                        device.ID + ')' }}</label>
                    <div class="collapsibleContent">
                        <div class="contentBody">
                            <div class="body-id">
                                <label [attr.for]="'ID' + i" class="bodyInputLabel">ID</label>
                                <input type="text" [attr.id]="'ID' + i" class="input" [ngModel]="device.ID" disabled>
                            </div>

                            <div class="body-label">
                                <label [attr.for]="'label' + i" class="bodyInputLabel">Name</label>
                                <input type="text" [attr.id]="'label' + i" class="input" [(ngModel)]="device.Label"
                                    [disabled]="!!authService.asGuest && !configService.config.enableGuestDataManipulation">
                            </div>

                            <div class="body-desciptiveInformation">
                                <label [attr.for]="'descriptiveInformation' + i"
                                    class="bodyInputLabel">Beschreibung</label>
                                <input type="text" [attr.id]="'descriptiveInformation' + i" class="input"
                                    [(ngModel)]="device.DescriptiveInformation"
                                    [disabled]="!!authService.asGuest && !configService.config.enableGuestDataManipulation">
                            </div>

                            <div class="body-serialNumber">
                                <label [attr.for]="'serialNumber' + i" class="bodyInputLabel">Seriennummer</label>
                                <input type="text" [attr.id]="'serialNumber' + i" class="input"
                                    [(ngModel)]="device.SerialNumber"
                                    [disabled]="!!authService.asGuest && !configService.config.enableGuestDataManipulation">
                            </div>

                            <div class="body-manufacturer">
                                <label [attr.for]="'manufacturer' + i" class="bodyInputLabel">Hersteller</label>
                                <input type="text" [attr.id]="'manufacturer' + i" class="input"
                                    [(ngModel)]="device.Manufacturer"
                                    [disabled]="!!authService.asGuest && !configService.config.enableGuestDataManipulation">
                            </div>

                            <div class="body-manufacturer">
                                <label [attr.for]="'model' + i" class="bodyInputLabel">Modell</label>
                                <input type="text" [attr.id]="'model' + i" class="input" [(ngModel)]="device.Model"
                                    [disabled]="!!authService.asGuest && !configService.config.enableGuestDataManipulation">
                            </div>

                            <div class="body-rentStart">
                                <label [attr.for]="'rentStart' + i" class="bodyInputLabel">Verleihstart</label>
                                <input type="date" [attr.id]="'rentStart' + i" class="input"
                                    [(ngModel)]="device.RentStart"
                                    [disabled]="!!authService.asGuest && !configService.config.enableGuestDataManipulation">
                            </div>

                            <div class="body-expectedReturn">
                                <label [attr.for]="'expectedReturn' + i" class="bodyInputLabel">Verleihende</label>
                                <input type="date" [attr.id]="'expectedReturn' + i" class="input"
                                    [(ngModel)]="device.ExpectedReturn"
                                    [disabled]="!!authService.asGuest && !configService.config.enableGuestDataManipulation">
                            </div>

                            <div class="body-locationID">
                                <label [attr.for]="'locationID' + i" class="bodyInputLabel">Standort</label>
                                <input type="text" [attr.list]="'locations' + i" [attr.id]="'locationID' + i"
                                    class="input" [(ngModel)]="device.LocationID"
                                    [disabled]="!!authService.asGuest && !configService.config.enableGuestDataManipulation">
                                <datalist [attr.id]="'locations' + i">
                                    <option *ngFor="let location of filteredLocationList" [value]="location.ID">
                                        {{ location.Label }}
                                    </option>
                                </datalist>
                            </div>

                            <div class="body-personID">
                                <label [attr.for]="'personID' + i" class="bodyInputLabel">Person</label>
                                <input type="text" [attr.list]="'persons' + i" [attr.id]="'personID' + i" class="input"
                                    [(ngModel)]="device.PersonID"
                                    [disabled]="!!authService.asGuest && !configService.config.enableGuestDataManipulation">
                                <datalist [attr.id]="'persons' + i">
                                    <option *ngFor="let person of filteredPersonList" [value]="person.ID">
                                        {{ person.FirstName + ', ' + person.LastName }}
                                    </option>
                                </datalist>
                            </div>

                            <div class="bodyActions">
                                <button class="cancelButton" id="cancelButton" (click)="cancel(i)">Abbrechen</button>
                                <button class="deleteButton" id="deleteButton"
                                    (click)="deleteDevice(device.ID)" *ngIf="!authService.asGuest || !!authService.asGuest && !!configService.config.enableGuestDataManipulation">Löschen</button>
                                <button class="saveButton" id="saveButton"
                                    (click)="updateDevice(device.ID)" *ngIf="!authService.asGuest || !!authService.asGuest && !!configService.config.enableGuestDataManipulation">Ändern</button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </ng-container>
</div>


<div [id]="(!!authService.asGuest && !configService.config.enableGuestDataManipulation) ? ('') : ('createNewDevice')"
    class="overlay">
    <div class="popup">
        <h2>Neues Gerät erstellen</h2>
        <div class="contentBody">
            <div>
                <label for="label" class="bodyInputLabel">Name</label>
                <input type="text" id="label" class="input" [(ngModel)]="newDevice.Label">
            </div>

            <div>
                <label for="descriptiveInformation" class="bodyInputLabel">Beschreibung</label>
                <input type="text" id="descriptiveInformation" class="input"
                    [(ngModel)]="newDevice.DescriptiveInformation">
            </div>

            <div>
                <label for="serialNumber" class="bodyInputLabel">Seriennummer</label>
                <input type="text" id="serialNumber" class="input" [(ngModel)]="newDevice.SerialNumber">
            </div>

            <div>
                <label for="manufacturer" class="bodyInputLabel">Hersteller</label>
                <input type="text" id="manufacturer" class="input" [(ngModel)]="newDevice.Manufacturer">
            </div>

            <div>
                <label for="model" class="bodyInputLabel">Modell</label>
                <input type="text" id="model" class="input" [(ngModel)]="newDevice.Model">
            </div>

            <div>
                <label for="rentStart" class="bodyInputLabel">Verleihstart</label>
                <input type="date" id="rentStart" class="input" [(ngModel)]="newDevice.RentStart">
            </div>

            <div>
                <label for="expectedReturn" class="bodyInputLabel">Verleihende</label>
                <input type="date" id="expectedReturn" class="input" [(ngModel)]="newDevice.ExpectedReturn">
            </div>

            <div>
                <label for="locationID" class="bodyInputLabel">Standort</label>
                <input type="text" list="locations" id="locationID" class="input" [(ngModel)]="newDevice.LocationID">
                <datalist id="locations">
                    <option *ngFor="let location of filteredLocationList" [value]="location.ID">
                        {{ location.Label }}
                    </option>
                </datalist>
            </div>

            <div>
                <label for="personID" class="bodyInputLabel">Person</label>
                <input type="text" list="persons" id="personID" class="input" [(ngModel)]="newDevice.PersonID">
                <datalist id="persons">
                    <option *ngFor="let person of filteredPersonList" [value]="person.ID">
                        {{ person.FirstName + ', ' + person.LastName }}
                    </option>
                </datalist>
            </div>

            <div class="bodyActions">
                <a class="cancelButton button" id="cancelButtonPOPUP" href="/devices#">Abbrechen</a>
                <a class="saveButton button" id="saveButtonPOPUP" href="/devices#"
                    (click)="createDevice(newDevice)">Speichern</a>
            </div>
        </div>
    </div>
</div>