@import "../styles.scss";

.navigation {
    background-color: $primary-400;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: $primary-100;
    font-size: 20px;
    height: 70px;
}

#title {
    margin-left: 20%;
}

.flexHalf {
    width: 50%;
    display: inherit;
}

.navigation .flexHalf a {
    display: block;
    color: $primary-100;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border: 2px solid $primary-700;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 0 10px;
    transition: box-shadow 0.5s, transform 0.1s cubic-bezier(0.55, 0, 0.55, 0.2), color 0.5s;
    transform-origin: 50% 75%;
}

.navigation .flexHalf a:hover {
    color: $primary-900;
    background-color: $primary-400;
    box-shadow: -0px -0px 10px $primary-600 inset;
    transition: box-shadow 0.5s, transform 0.1s cubic-bezier(0.55, 0, 0.55, 0.2), color 0.5s;
    // transform: scale(1.05);
}

.navigation .flexHalf a.active {
    background-color: $primary-400;
    box-shadow: -0px -0px 10px $primary-700 inset;
    transition: box-shadow 0.5s, transform 0.1s cubic-bezier(0.55, 0, 0.55, 0.2), color 0.5s;
    transform: scale(1.05);
}

#page-content {
    margin: 20px 15%;
    background-color: $success-300;
}
