@import "../styles.scss";

.navigation {
    background-color: #072a5e;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: $primary-100;
    font-size: 20px;
    height: 70px;
}

#title {
    margin-left: 20%;
    display: inherit;
}

#navigationLeft {
    width: 60%;
    display: inherit;
}

#navigationRight {
    width: 40%;
    display: inherit;
}

.navigation #navigationRight a {
    display: block;
    color: $primary-500;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border: 2px solid $primary-700;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 0 10px;
    transition: box-shadow 0.4s, background-color 0.4s, transform 0.1s cubic-bezier(0.55, 0, 0.55, 0.2), color 0.5s;
}

.navigation #navigationRight a:hover {
    color: $primary-900;
    background-color: $primary-200;
    box-shadow: -0px -0px 10px $primary-700 inset;
    transition: box-shadow 0.4s, background-color 0.4s, transform 0.1s cubic-bezier(0.55, 0, 0.55, 0.2), color 0.1s;
    transform: scale(1.05);
}

.navigation #navigationRight a.active {
    color: $primary-900;
    background-color: $primary-300;
    box-shadow: -0px -0px 10px $primary-700 inset;
    transition: box-shadow 0.4s, background-color 0.4s, transform 0.1s cubic-bezier(0.55, 0, 0.55, 0.2), color 0.1s;
    transform: scale(1.1);
}

#page-content {
    margin: 20px 15%;
    padding: 10px 20px;
    // background-color: $success-200;
}
