@import "../styles.scss";

.navigation {
    background-color: #4f7181;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: $primary-100;
    font-size: 20px;
    height: 8vh;
}

.navigation div {
    max-width: 70vw;
}

#navigationLeft {
    display: inherit;
    margin: 0 10vw 0 0;
    width: 250px;
}

.navigationRight {
    display: inherit;
}

.navigation .navigationRight a {
    display: block;
    background-color: #46606d;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 0 10px;
    transition: box-shadow 0.5s, background-color 0.5s, color 0.5s;
    cursor: pointer;
}

.navigation .navigationRight a:hover {
    color: $primary-900;
    background-color: $primary-400;
    box-shadow: -0px -0px 10px $primary-700 inset;
    transition: box-shadow 0.5s, background-color 0.5s, color 0.1s;
}

.navigation .navigationRight a.active {
    color: $primary-900;
    background-color: $primary-300;
    box-shadow: -0px -0px 10px $primary-700 inset;
    transition: box-shadow 0.5s, background-color 0.5s, color 0.1s;
}

#page-content {
    position: fixed;
    left: 0;
    top: 8vh;

    height: 92vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #4d5559;
}
