@import "./variables.scss";

label {
    line-height: 40px;
    font-size: 19pt;
}

.contentWrapper {
    padding: 2vh 4vw;
    background-color: $container_background;
    height: 85vh;
    width: 70vw;
    max-width: 90vw;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.filterWrapper {
    height: 50px;
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.filterInput {
    outline: none;
    margin: 0 20px 0 0;
    height: 45px;
    width: 70%;
    font-size: 16pt;
}

.scrollWrapper {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 80vh;
    padding-right: 1vw;
}

.scrollWrapper::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px $scrollbarTrack_shadow;
    -webkit-box-shadow: inset 0 0 6px $scrollbarTrack_shadow;
    border-radius: 4px;
    background-color: $scrollbarTrack_background;
}

.scrollWrapper::-webkit-scrollbar {
    width: 12px;
    background-color: $scrollbar_background;
}

.scrollWrapper::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px $scrollbarThumb_shadow;
    -webkit-box-shadow: inset 0 0 6px $scrollbarThumb_shadow;
    border-radius: 4px;
    background-color: $scrollbarThumb_background;
}

.collapsibleToggle {
    display: none;
}

.collapsibleWrapper {
    margin: 1vh 0;
}

.collapsibleLabel {
    padding: 1rem;
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px 5px 0px 0px;
    background-color: $header_background;
    box-shadow: 0px 0px 35px $header_shadow inset;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    text-align: center;
    color: #ddd;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all 0.25s ease-out;
}

.collapsibleLabel:hover {
    color: #fff;
}

.collapsibleLabel::before {
    content: " ";
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: 0.7rem;
    transform: translateY(-2px);
    transition: transform 0.2s ease-out;
}

.collapsibleToggle:checked + .collapsibleLabel::before {
    transform: rotate(90deg) translateX(-3px);
}

.collapsibleToggle:checked + .collapsibleLabel + .collapsibleContent {
    max-height: 620px;
    transition: max-height 0.5s;
}

.collapsibleToggle:checked + .collapsibleLabel {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.collapsibleContent {
    max-height: 5px;
    overflow: hidden;
    transition: max-height 0.5s;
    background-color: $content_background;
    border-bottom: 1px solid $content-border;
    border-radius: 0px 0px 5px 5px;
}

.contentBody {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
}

.contentBody div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contentBody div label {
    margin: 5px;
    padding: 0 5px;
    height: 40px;
    width: 230px;
    font-size: 15pt;
    line-height: 40px;
}

.contentBody div input {
    outline: none;
    margin: 5px;
    height: 40px;
    width: calc(100% - 230px);
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0.5s, visibility 0.5s;
    visibility: hidden;
    opacity: 0;
    overflow: auto;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 5vh auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    min-width: 700px;
    width: 50vw;
    max-width: 1200px;
    position: relative;
}

.popup h2 {
    margin-top: 0;
}

#cancelButtonPOPUP {
    margin: 0 auto 0 20px;
}

#saveButtonPOPUP {
    margin: 0 20px 0 auto;
}
