// Input
$input_backgroundColor: #eeeeee;
$input_borderColor: #80b6cf;
$input_boxShadow: #7e9dac;

// Buttons
$buttonGeneral_background: #679bb3;
$buttonGeneral_backgroundHover: #588397;
$buttonGeneral_shadow: #76b2ce;

$buttonCancel_background: #bababa;
$buttonCancel_backgroundHover: #9e9e9e;
$buttonCancel_shadow: #d4d4d4;

$buttonDelete_background: #f28260;
$buttonDelete_backgroundHover: #ca6d51;
$buttonDelete_shadow: #ff8864;

$buttonSave_background: #7be9d6;
$buttonSave_backgroundHover: #61b8a9;
$buttonSave_shadow: #87ffeb;

$navLink_background: #46606d;
$navLink_backgroundHover: #66d2ff;
$navLink_backgroundActive: #84e3ff;
$navLink_colorText: #ffffff;
$navLink_colorTextHover: #09367a;
$navLink_colorTextActive: #09367a;
$navLink_shadowHover: #196cb7;
$navLink_shadowActive: #196cb7;

// Container
$pageContainer_background: #4d5559;
$container_background: #636e74;

// Content
$content_background: #f5f5f5;
$content-border: #bdbdbd;

$popup_background: #fff;

// Scrollbar
$scrollbarTrack_background: #6f7b81;
$scrollbarTrack_shadow: #84939b;

$scrollbar_background: #636e74;

$scrollbarThumb_background: #81a6b8;
$scrollbarThumb_shadow: #5a6f79;

// Header
$header_background: #4f7181;
$header_shadow: #7aaac1;
$header_textColor: #d6faff;
